@media screen and (max-width:576px) {
    .preview .details p {
        font-size: 1rem;
    }
}


@media screen and (max-width:992px) {
    .btn-group.area-hide {
        display: none !important;
    }
    .display-group {
        display: flex !important;       
    }

    .navbar-nav {
        align-items: center;
        width:100%;
        position: relative;
    }

    .navbar .drop::before {       
        border:none;
    }
 
    .navbar-nav .nav-link:not(.dropdown-toggle) {        
        padding: 20px 0px;
    }
    
   /* section preview media style */
   .cont::before {
    display: none;
   }

   .preview .video video {
    width: 100%;
   }

   .brush {
    display: none;
   }

   .preview .details p {
     width: 100%;     
   }
}